{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <p>Your student ID and password didn't match. Please try again.</p>
    <p>{{form.errors}}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>Student ID: </td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
</form>

<a href="{% url 'create' %}">
    <button type="button">Create Account</button>
</a>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
